.product-box{
	width: 240px;
	height: 329px;
	margin: 15px;
   /*border: 1px solid rgb(208, 208, 208); */
	float: left;
	box-shadow: 1px 1px 5px gray;
	transition: 0.2s;
	-webkit-border-radius: 6px;
	position: relative;
	
}
.product-box:hover
{
	background-color:#ffffb3;
}
.product-box img {
 
    transition: all ease 300ms;
}
.hinh-sp{
	height: 230px;
	width: 210px;
	position: relative;
  	margin: 0 auto;
}
.hinh{
	background-position:center;
	background-repeat: no-repeat;
  	background-size: contain;
	position: absolute;
	top: 20px;
	height: 210px;
	width: 210px;
	transform: translateX(-50%) !important;
	/*transition: 0.3s;*/
}

/* .hinh-sp.hinh {
	position: absolute;
} */

.box:hover .hinh{
	position: absolute;
	/*top: 5px;*/
	text-decoration: none;
}


.box:hover .ten-sp{
	text-decoration: none;
}
.product-box a:hover{
	text-decoration: none;
}
.ten-sp{
	text-align: left;
	margin: 0;
	padding: 5px 0 0 10px;
	font-size: 17px;
	color: gray;
}
.gia-tien{
	margin: 0;
	padding: 0px 0 0 10px;
	font-size: 15px;
  	font-weight: bold;
	color: grey;
}
.hidden
{
	display:none;
}

/*nút thêm*/
.them {
    font-size: 12px;
    padding: 5px 5px 8px 8px;
    color: rgba(126,126,126,1.00);
    border: 1px solid rgb(59, 59, 59, 0.5);
    border-radius: 5px;
    margin-right: 5px;
    background: white;
    float: right;
    cursor: pointer;
}
.them :hover
{
   	text-decoration: none;
    cursor: pointer;
}
.them:active
{
	background-color: #ffdd99;
    outline: none;
}
  